<!-- <nz-header
    class="site-page-header" 
    (nzBack)="onBack()" 
    nzBackIcon nzTitle="শুরু করুন" >
    <span nz-icon nzType="left" nzTheme="outline"></span>
</nz-header>


<nz-page-header
    class="site-page-header" 
    (nzBack)="onBack()" 
    nzBackIcon nzTitle="শুরু করুন" 
    nzSubtitle="This is a subtitle">
</nz-page-header> -->
<div class="navbar">
    <a class="navbar-brand" href="#">
        <!-- <div>
            <img src="../../././../assets/navbar/chevron-left.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
        </div>
        <div>
            Bootstrap
        </div> -->
       
          <!-- <div nz-col nzSpan="6"><img src="../../././../assets/navbar/chevron-left.svg" width="30" height="30" class="d-inline-block align-top"></div>
          <div nz-col nzSpan="6">Bootstrap</div> -->
          <div nz-row>
            <div nz-col nzSpan="12">
                <img src="../../././../assets/navbar/chevron-left.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
            </div>
            <div nz-col nzSpan="12">
                Bootstrap
            </div>
          </div>
    </a>
</div>